body{
    position: relative;
}

.grid-cols-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.btn__classic{
    background-color: darkgray;
    color: white;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: transparent;
    border-radius: 0.375rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .btn__classic{
        background-color: white;
        color: darkgray;
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    }
}

.image-area{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    min-height: 250px;
    min-width: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: solid 4px rgb(55 65 81 / var(--tw-border-opacity));
}
.image-area img{
    position: relative;
    pointer-events: none;
    min-height: 250px;
    min-width: 350px;
    width: 350px;
    border: none;
}
.image-area .indic{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-area .indic span{
    max-width: 220px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(55,65,81,0.5);
}
.image-area input{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
